<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href=".static/assets/favicon.ico" rel="icon">

  <title>05/06</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="Home">Home</a></li>
          <li><a href="./blog.html" title="Blog">Blog</a></li>
          <li><a href="./about.html" title="About">About</a></li>
          <li><a href="./contact.html" title="Contact">Contact</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
          <li><a href="./blog1.html" title="Background">01</a></li>
          <li><a href="./blog2.html" title="Objectives">02</a></li>
          <li><a href="./blog3.html" title="Tetraplegia">03</a></li>
          <li><a href="./blog4.html" title="Aesthetics">04</a></li>
          <li><a href="./blog5.html" title="Exercise" class="active">05</a></li>
          <li><a href="./blog6.html" title="Meeting">06</a></li>
          <li><a href="./blog7.html" title="Pressure Ulcers">07</a></li>
          <li><a href="./blog8.html" title="Market Research">08</a></li>
          <li><a href="./blog9.html" title="Existing Problems">09</a></li>
          <li><a href="./blog10.html" title="The Treehouse">10</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h2 class="h2">05 Exercise for tetraplegics</h2>
        </div>
          <h5 style="text-align:center;">26/01/21</h5>
          <p>
            We are told very often just how much of an effect a sedentary lifestyle
            can have on ones health and general wellbeing. Numerous studies can
            attest to this. As <a href="https://pubmed.ncbi.nlm.nih.gov/19996993/"
            >Warren et al.</a> highlight, men reported to spend more than ten hours a week driving
            are at an 82% greater risk of cardio vascular disease related mortality
            than those that use a car less than four hours a week. If physical
            inactivity can have such a drastic effects on the body, then how does
            someone with tetraplegia, who’s movement is severely impaired, minimise
            these effects?
          </p>
          <p>
            In a 2009 <a href="https://www.sciencedirect.com/science/article/abs/pii/S0003999310006131"
            >study</a>, it was found that for people with tetraplegia, hospital
            visits occurred more often and pain more severe for those also classified
            as obese (BMI greater than 30). There is clear impetus to maintain a
            healthy weight level, but this may be difficult for someone with tetraplegia.
          </p>
          <p>
            After some research, it seems the primary mode of weight control is diet.
            According to the Spinal Injuries Association, it is fairly normal for
            dramatic weight loss to occur immediately after a spinal cord injury
            as the metabolism works hard to heal the body. But in the long term,
            due to the bodies inactivity and muscle loss, it is often all too easy
            to become overweight. Therefore it is often necessary for someone with
            tetraplegia to carefully control their diet.
          </p>
          <p>
            Is it possible for someone with tetraplegia to exercise? Yes, but not
            so much in the sense that an able-bodies person exercises. Although
            tetraplegics may have some control of their upper body, this control
            is weak. Therefore, exercise for tetraplegics focuses on improving
            range of motion, referred to as Passive Range of Motion Exercises.
            These exercises consist of  moving effected limbs in particular motions
            either individually or with the help of a partner. These exercises
            maintain flexibility and promote circulation with the goal of gradually
            gaining control back of these limbs.
          </p>
          <p>
            During discussions with my project supervisor, we had discuss possibilities
            of designing a chair that enables exercise for tetraplegic afflicted
            persons. After reading related material, it may be difficult to replicate
            the type of exercise required with a device.
          </p>
        </div>
      </div>
    </div>
  </div>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Isidore S-Deutsch | Site design from <a href="http://www.mashup-template.com/"
          title="Create website with free html template">Mashup Template</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
