<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href=".static/assets/favicon.ico" rel="icon">

  <title>07/06</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="Home">Home</a></li>
          <li><a href="./blog.html" title="Blog">Blog</a></li>
          <li><a href="./about.html" title="About">About</a></li>
          <li><a href="./contact.html" title="Contact">Contact</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
          <li><a href="./blog1.html" title="Background">01</a></li>
          <li><a href="./blog2.html" title="Objectives">02</a></li>
          <li><a href="./blog3.html" title="Tetraplegia">03</a></li>
          <li><a href="./blog4.html" title="Aesthetics">04</a></li>
          <li><a href="./blog5.html" title="Exercise">05</a></li>
          <li><a href="./blog6.html" title="Meeting">06</a></li>
          <li><a href="./blog7.html" title="Pressure Ulcers" class="active">07</a></li>
          <li><a href="./blog8.html" title="Market Research">08</a></li>
          <li><a href="./blog9.html" title="Existing Problems">09</a></li>
          <li><a href="./blog10.html" title="The Treehouse">10</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h2 class="h2">07 Pressure Ulcers</h2>
        </div>
          <h5 style="text-align:center;">04/02/21</h5>
          <p>
            After researching problems with existing wheelchair solutions, one in
            particular would often appear. Pressure ulcers, often called pressure
            sores. Defined by the <a href="https://www.nhs.uk/conditions/pressure-sores/"
            >National Health Service</a> as injuries to skin and underlying tissue
            caused by prolonged pressure on the skin. Although anyone can be afflicted,
            people who are immobile, such as those with tetraplegia, are especially
            at risk.
          </p>
          <p>
            Pressure ulcers if allowed to develop, can be extremely painful and
            cause secondary conditions such as blood poisining. It is therefore
            neccessary to consider how to counter pressure ulcers when someone is
            immobile. Often the help of a caregiver is required to periodically
            adjust the patients position to relieve pressure. There are
            designs that help with this problem. Research of existing products can show
            how designers are already seeking to alleviate this problem.
          </p>
          <p>
            One method currently in use are pressure relief cushions. They utilise
            two main methods: gel and air. Air ones provide the possibility of
            dynamically relieving pressure as and when is neccessary. As discussed
            in my previous supervisory meeting, it could even be possible to automate
            this function using pressure sensors and an arduino. Another more advanced
            option could utilise a raspberry pi, phone and pressure sensors to allow
            a patient or caregiver to view a pressure map and make adjustments to the
            chairs settings from within a phone application.
          </p>
          <p>
            Sitting posture or sitting position also has an effect on the likelihood
            of pressure ulcer development.
        </div>
      </div>
    </div>
  </div>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Isidore S-Deutsch | Site design from <a href="http://www.mashup-template.com/"
          title="Create website with free html template">Mashup Template</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
